
        h1{
            color: rgb(17, 1, 17);
        }
        h1{
        background-color: rgb(178, 32, 178)
    }       
       h1 {
        font-size: xx-large   
    }
  h2{
      background-clip: all
  }
  h2{
       background-color :rgb(250, 135, 250)
}

p {
        background-color: rosybrown;
    }
P {      
    color: black;
    }
p {    
        background-color: palevioletred;
    }
p {
            color: black;
    }
body{
    background-color: pink
}

 .exampleone {
    background-color: rgb(128, 0, 117);
    color: rgb(31, 8, 8);
  }
thead { background-color: rgb(255, 0, 234)
}
col { background-color: rgb(255, 127, 238)}
button
{
    shape-rendering: geometricPrecision
}